a {
  color: inherit; /* Mantém a cor do texto ao usar links */
  text-decoration: none; /* Remove o sublinhado dos links */
}

a:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

i {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

#contato p {
  display: inline-block;
  margin: 0 10px;
}

h2 {
  text-align: center; /* Centraliza todos os h2 */
}

.animated-banner {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

